---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/rubygems/deep-cover-core/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"deep-cover-core","platform":"Rubygems","description":"Core
        functionality for the DeepCover gem.","homepage":"https://github.com/deep-cover/deep-cover","repository_url":"https://github.com/deep-cover/deep-cover","normalized_licenses":["MIT"],"rank":9,"latest_release_published_at":"2018-08-23T18:22:30.770Z","latest_release_number":"0.6.4","language":"Ruby","status":null,"package_manager_url":"https://rubygems.org/gems/deep-cover-core","stars":84,"forks":8,"keywords":["branch-coverage","coverage","ruby"],"latest_stable_release":{"id":15330458,"project_id":3217698,"number":"0.6.4","published_at":"2018-08-23T18:22:30.770Z","created_at":"2018-08-23T18:32:15.679Z","updated_at":"2018-08-23T18:32:15.679Z","runtime_dependencies_count":5},"latest_download_url":"https://rubygems.org/downloads/deep-cover-core-0.6.4.gem","dependents_count":2,"dependent_repos_count":2,"versions":[{"number":"0.6.3","published_at":"2018-08-21T00:16:17.379Z"},{"number":"0.6.3.pre","published_at":"2018-08-17T18:32:50.128Z"},{"number":"0.6.4","published_at":"2018-08-23T18:22:30.770Z"}],"dependencies_for_version":"0.6.4","dependencies":[{"project_name":"terminal-table","name":"terminal-table","platform":"Rubygems","requirements":"\u003e=
        0","latest_stable":"1.8.0","latest":"1.8.0","deprecated":false,"outdated":false,"filepath":null,"kind":"runtime"},{"project_name":"pry","name":"pry","platform":"Rubygems","requirements":"\u003e=
        0","latest_stable":"0.11.3","latest":"0.11.3","deprecated":false,"outdated":false,"filepath":null,"kind":"runtime"},{"project_name":"parser","name":"parser","platform":"Rubygems","requirements":"~\u003e
        2.5.0","latest_stable":"2.2.0","latest":"2.5.1.2","deprecated":false,"outdated":null,"filepath":null,"kind":"runtime"},{"project_name":"binding_of_caller","name":"binding_of_caller","platfo[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/deep-cover-core/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      per-page:
      - '30'
      total:
      - '2'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"deep-cover","platform":"Rubygems","description":"expression
        and branch coverage for Ruby.","homepage":"https://github.com/deep-cover/deep-cover","repository_url":"https://github.com/deep-cover/deep-cover","normalized_licenses":["MIT"],"rank":12,"latest_release_published_at":"2018-08-23T18:22:36.916Z","latest_release_number":"0.6.4","la[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/terminal-table/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '27'
    body:
      encoding: UTF-8
      string: '{"name":"terminal-table","platform":"Rubygems","description":"Simple,
     [...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/terminal-table/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/rubygems/terminal-table/dependents?page=21>; rel="last",
        <https://libraries.io/api/rubygems/terminal-table/dependents?page=2>; rel="next"
      per-page:
      - '30'
      total:
      - '621'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
    body:
      encoding: UTF-8
      string: '[{"name":"guard","platform":"Rubygems","description":"Guard is a command
        line tool to easily handle events on file system modifi[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/pry/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
    body:
      encoding: UTF-8
      string: '{"name":"pry","platform":"Rubygems","description":"An IRB alternative
        and runt[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/pry/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/rubygems/pry/dependents?page=385>; rel="last", <https://libraries.io/api/rubygems/pry/dependents?page=2>;
        rel="next"
      per-page:
      - '30'
      total:
      - '[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/parser/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
    body:
      encoding: UTF-8
      string: '{"name":"parser","platform":"Rubygems","description":"A Ruby parser
        written[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/parser/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/rubygems/parser/dependents?page=6>; rel="last",
        <https://libraries.io/api/rubygems/parser/dependents?page=2>; rel="next"
      per-page:
      - '30'
      total:
  [...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/binding_of_caller/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '27'
    body:
      encoding: UTF-8
      string: '{"name":"binding_of_caller","platform":"Rubygems","description":"Retriev[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/binding_of_caller/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/rubygems/binding_of_caller/dependents?page=7>; rel="last",
        <https://libraries.io/api/rubygems/binding_of_caller/dependents?page=2>; rel="next"
      per-p[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/backports/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
    body:
      encoding: UTF-8
      string: '{"name":"backports","platform":"Rubygems","description":"Essential
        backp[...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/backports/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/rubygems/backports/dependents?page=5>; rel="last",
        <https://libraries.io/api/rubygems/backports/dependents?page=2>; rel="next"
      per-page:
      - '30'
      [...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/rubocop/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
    body:
      encoding: UTF-8
      string: '{"name":"rubocop","platform":"Rubygems","description":"    Automatic
        Ruby [...]
- request:
    method: get
    uri: https://libraries.io/api/rubygems/rubocop/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/rubygems/rubocop/dependents?page=218>; rel="last",
        <https://libraries.io/api/rubygems/rubocop/dependents?page=2>; rel="next"
      per-page:
      - '30'
      tota[...]
